@model ASPNETMVC_Eshop.Models.Product

@{
    ViewData["Title"] = "Details";
}
<p><a asp-action="Index">Back to List</a></p>
<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row shadow">

        <dt class="col-sm-2">
            Product Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 mt-5">
            Description
        </dt>
        <dd class="col-sm-10 mt-5">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2 mt-5">
            Image
        </dt>
        <dd class="col-sm-10 mt-5">
            <img src=" @Html.DisplayFor(model => model.ImageUrl)" class="" alt="...">
        </dd>
        <dt class="col-sm-2 mt-5">
            Price
        </dt>
        <dd class="col-sm-10 mt-5 d-flex justify-content-end align-items-center">
            <h2 class="text-danger font-weight-bolder me-4">@Html.DisplayFor(model => model.Price) :-</h2> <button class="btn btn-lg btn-primary"><i class="fas fa-shopping-cart me-2"></i>Köp</button>
        </dd>

        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">

            
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

